/*-------General Styles-----------*/
* {
  box-sizing: border-box;
}
/*
.align-children {
  font-size: 0;
}*/

.align-children > * {
  display:inline-block;
  vertical-align: top;
  font-size:large;
  width:30%;
}

.column > * {
  background-color: lightblue;
  display:inline-block;
  vertical-align: top;
  font-size:large;
  width:30%;
}

/*inputs*/

input {
  width: 300px;
  height: 20px;
  /*display: block;*/
  border: 2px solid black;
  opacity: .5;
  transition: .5s all ease;
}

input:focus {
  outline: none;
  background: cyan;
}

input:hover {
  opacity: 1;
}

/*******************Columns***********************/
#container {
  /*display:block;*/
  background-color: lightblue;
  color: white;
  font-size: 18px;
  width: 100%;
}

#container div {
  margin: 20px 10px;
  padding: auto;
  position: relative;
  vertical-align: top;
}

.column div {
  display:block;
  position:absolute;
  text-align: left;
	max-width:30%;
}


/*Option boxes*/
#team {
  /*display:block;*/
  /*margin-right:70%;*/
  color: black;
  width: 325px;
  border: 2px solid black;
  opacity: .5;
  transition: .5s all ease;
}

/*Text Areas*/
#textarea {
  /*display:block;*/
  margin-right:70%;
  border: 2px solid black;
  opacity: .5;
  transition: .5s all ease;
}

textarea:focus {
  outline: none;
  background: cyan;
}

textarea:hover {
  opacity: 1;
} 

/*Media Queries*/
@media screen and (min-width:1060px){
  .column {
    width: 30%;
  }
}

@media screen and (min-width:640px){
   .column {
    width: 30%;  
  }
}
