/*-------General Styles-----------*/
* {
  box-sizing: border-box;
}

.align-children > * {
  display:inline-block;
  vertical-align: top;
  font-size:large;
  width:30%;
}


/*inputs*/

input {
  width: 100%;
  height: 20px;
  border: 2px solid black;
  opacity: .5;
  transition: .5s all ease;
}

input:focus {
  outline: none;
  background: cyan;
}

input:hover {
  opacity: 1;
}

/*******************Columns***********************/
#container {
  background-color: lightblue;
  font-size: 18px;
  width: 100%;
}

p {
  margin: 10px 15px;
  vertical-align: top;
}


/*Option boxes*/
#team {
  color: black;
  width: 100%;
  border: 2px solid black;
  opacity: .5;
  transition: .5s all ease;
}

/*Text Areas*/
#textarea {
  width:100%;
  border: 2px solid black;
  opacity: .5;
  transition: .5s all ease;
}

textarea:focus {
  outline: none;
  background: cyan;
}

textarea:hover {
  opacity: 1;
} 

/*Media Queries*/
@media only screen and (max-width:1060px){
  .column {
    display:block;
    width:80%;
    margin: 0 auto;
  }
}

